# Template for .env.local -- duplicate and fill values locally
# This file is read by both frontend and backend
#
# Format: https://cli.vuejs.org/guide/mode-and-env.html#environment-variables
# Note that backend only looks for env.local

VUE_APP_AZURE_OAUTH_BACKEND_APPLICATION_ID=####
VUE_APP_AZURE_OAUTH_FRONTEND_APPLICATION_ID=####
VUE_APP_AZURE_OAUTH_TENANCY=####
